// variables
$barkblue: #2b6777; // for header and footer
$lightestblue: #c8d8e4; // for background
$white: #ffffff;
$ash: #f2f2f2; // for text
$grey: #787878;
$green: #52ab98; // green for buttons
$workSans: "Work Sans", sans-serif;
$roboto: "Roboto", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $lightestblue;
  font-family: $roboto;
  color: $grey;

  header {
    background: $barkblue;
    padding: 50px;
    color: $ash;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    h1 {
      font-weight: 900;
      font-size: 70px;
    }
    #totalpayout {
      position: absolute;
      bottom: 0;
      right: 30%;
      width: max-content;
      text-align: center;
      font-size: 20px;
      font-weight: 800;
      padding: 5px;
      background: white;
      color: $grey;
      border: 3px solid $grey;
      border-radius: 5px;
      margin-bottom: 5px;

      .naira,
      .initialtotalprice {
        color: $green;
      }
    }
    #cashoutbtn {
      background: $green;
      color: $white;
      border: none;
      border-radius: 5px;
      font-size: 30px;
      font-weight: 800;
      padding: 5px;
      padding-inline: 20px;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      &:hover {
        cursor: pointer;
        background: #3a7d6f;
        color: white;
      }
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 30px;
    padding: 50px;
    place-content: center;
    .items {
      background: $white;
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      text-align: center;
      align-items: center;
      img {
        width: 160px;
      }
      .itemname {
        font-size: 18px;
        font-weight: 700;
      }
      .increase_decreasebtn {
        background: $lightestblue;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
          rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
          rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        width: 100px;
        display: flex;
        justify-content: space-evenly;
        span {
          display: inline-block;
          width: 33.333%;
        }
        .itemamount {
          border-left: 1px solid black;
          border-right: 1px solid black;
          font-weight: 600;
        }
        .decreasebtn,
        .increasebtn {
          &:hover {
            cursor: pointer;
            background: #818c94;
            color: white;
          }
        }
      }
      .likeDeleteBox {
        width: 100%;
        span {
          border: 1px solid $grey;
          display: inline-block;
          width: 50%;
          padding: 3px;
          &:hover {
            cursor: pointer;
            background: #818c94;
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }
}
